body {
    background-color: rgb(3, 79, 131);
}

.back {
    margin: 2% 0 3% 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: 12rem;
    height: 21rem;
    background-color: rgb(145, 168, 209);
    margin: 7px 1% 7px 0px;
}

.cardContent {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 5% 1% 5%;
}

.image {
    width: 12rem;
    height: 17rem;
}

p {
    margin: 0;
}